.venv
.env
.chromadb
.models
.processingqueue
.scrapingqueue
.clustering
.test
.db
.mongodb
.vscode
.logs
.delete-models
.git
.docker-compose.yaml
.deployment.sh
dockertest.env
tests
__azurite*
__queuestorage__
__pycache__
*.log
flagged
coffeemaker/nlp/foundry
coffeemaker/nlp/test
coffeemaker/nlp/.gitignore

