.venv
.env
.chromadb
.processingqueue
.scrapingqueue
.clustering
*/.test
.db
.mongodb
.vscode
.logs
*.git
.docker-compose.yaml
.deploy.sh
dockertest.env
*/tests
__azurite*
__queuestorage__
__pycache__
*.log
flagged
factory/*.py
factory/*.csv
factory/*.sh
coffeemaker/nlp/foundry
coffeemaker/nlp/tests
coffeemaker/nlp/.gitignore

