.venv
*.env
.chromadb
.models
.processingqueue
.clustering
.test
.db
.cache
.beansack
.mongodb
.vscode
.logs
.scrapingqueue
.delete-models
.deploy.sh
.s3upload.sh
__azurite*
__queuestorage__
__pycache__
*.log
flagged
unsloth*
DEPRECATE*
