.venv
.env
.chromadb
.models
.processingqueue
.clustering
.test
.db
.mongodb
.vscode
.logs
.scraper-queue
coffeemaker/collectors/ychackernews.py
coffeemaker/collectors/rssfeed.py
coffeemaker/collectors/redditor.py
coffeemaker/collectors/individual.py
coffeemaker/collectors/espresso.py
__azurite*
__queuestorage__
__pycache__
*.log
flagged
unsloth*

