llama-cpp-python
transformers
sentence-transformers
tiktoken
numpy
pymongo
tiktoken
retry
requests
pydantic
feedparser
newspaper3k
nltk
tldextract
beautifulsoup4
lxml_html_clean
icecream
python-dotenv
scikit-learn
praw
peft
memoization
duckdb
azure-storage-blob
azure-storage-queue
crawl4ai
nest-asyncio
asyncpraw
setuptools
azure-storage-queue
