accelerate
transformers
sentence-transformers
openai
llama-index
gliner
tiktoken
retry
requests
beautifulsoup4
lxml_html_clean
feedparser
tldextract
praw
asyncpraw
readability-lxml
icecream
python-dotenv
python-slugify
deprecated