optimum[onnxruntime]
openai
llama-index
tiktoken
numpy
retry
requests
nest-asyncio
beautifulsoup4
feedparser
tldextract
praw
asyncpraw
crawl4ai
azure-storage-queue
azure-storage-blob
persist-queue
icecream
python-dotenv
setuptools
