pyyaml
tenacity
requests
feedparser
tldextract
praw
asyncpraw
readability-lxml
icecream
python-dotenv
msgpack
textcase
openai
aiofiles
structlog
pydantic
pyarrow
pandas
duckdb
lancedb
pgvector
psycopg
psycopg[binary,pool]
s3fs
rfc3339
tenacity
aioboto3
Brotli
html_to_markdown