llama-cpp-python
langchain
langchain-community
langchain-groq
langchain-text-splitters
numpy
scipy
scikit-learn
pymongo
tiktoken
retry
requests
pydantic
feedparser
tldextract
beautifulsoup4
fastapi
python-dotenv
icecream
nicegui
setuptools